.board{
-fx-background-image : url("/images/SantoriniBoard.jpg");
 -fx-background-size: 100% 100%;
}

.level1{
 -fx-background-color: navajowhite;
 -fx-border-color: black;
}

.level2{
 -fx-background-color: antiquewhite;
 -fx-border-color: black;
}

.level3{
 -fx-background-color: white;
 -fx-border-color: black;
}

.dome{
 -fx-background-color: darkblue;
 -fx-background-radius: 100px;
}

.workerRed{
 -fx-background-color: red;
}

.workerCyan{
 -fx-background-color: cyan;
}

.workerYellow{
 -fx-background-color: yellow;
}

.background{
 -fx-background-image : url("/images/bg_panelEdgeRight.jpg");
 -fx-background-size: 100% 100%;
}

.toggle{
 -fx-background-image : url("/images/cm_btn_blue.jpg");
 -fx-background-size: 100% 100%;
}

.quit{
 -fx-background-image : url("/images/button_quit.jpg");
 -fx-background-size: 100% 100%;
}

.undo{
 -fx-background-image : url("/images/button_undo.jpg");
 -fx-background-size: 100% 100%;
}

.skip{
 -fx-background-image : url("/images/button_skip.jpg");
 -fx-background-size: 100% 100%;
}