.netBackground{
    -fx-background-image : url("/images/cl_bg.jpg");
    -fx-background-size: 100% 100%;
}

.white{
    -fx-background-image : url("/images/button_send.png");
    -fx-background-size: 100% 100%;
}