.settingBackground{
    -fx-background-image : url("/images/bg_panelEdgeRight.jpg");
    -fx-background-size: 100% 100%;
}

.white{
    -fx-background-color: white;
}

.red{
    -fx-background-color: red;
}

.cyan{
    -fx-background-color: cyan;
}

.yellow{
    -fx-background-color: yellow;
}

.nickname{
    -fx-opacity: 0.50;
}

.birthday{
    -fx-opacity: 0.50;
}

.number{
    -fx-opacity: 0.50;
}

.color{
    -fx-opacity: 0.50;
}